APP_NAME=ProxectOS
APP_DESCRIPTION=ProxectOS_API

APP_HOST=http://localhost
APP_PORT=3000

API_PREFIX=v

# CAPA DE PERSISTENCIA
PERSISTENCE_API_HOST=http://localhost
PERSISTENCE_API_PORT=3001
PERSISTENCE_API_ROUTE=api/v0/

PERSISTENCE_API_LOGIN=admin
PERSISTENCE_API_PASS=abc123.
